<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layouts}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>顧客詳細</title>
  </head>
  <body>
    <div class="m-2" layout:fragment="contents">
      <div class="mx-3">
        <h1>顧客詳細</h1>
        <div th:if="${error}" class="row my-3">
          <p class="alert alert-warning" th:text="#{${error}}"></p>
        </div>
        <div class="row border-bottom my-3">
          <p class="col-2 my-auto">出荷先名</p>
          <span class="col-4" th:text="${customer.name}"></span>
        </div>
        <div class="row border-bottom my-3">
          <p class="col-2 my-auto">郵便番号</p>
          <span class="col-4" th:text="${customer.postalCode}"></span>
        </div>
        <div class="row border-bottom my-3">
          <p class="col-2 my-auto">住所</p>
          <span class="col-4" th:text="${customer.address}"></span>
        </div>
        <div class="row border-bottom my-3">
          <p class="col-2 my-auto">連絡先</p>
          <span class="col-4" th:text="${customer.phoneNumber}"></span>
        </div>
      </div>
      <td><a class="btn btn-outline-primary" th:href="@{customer/{id}/edit(id=${customer.id},page=${page},size=${size})}">編集</a></td>


      <h1>顧客配送先詳細</h1>
      <!-- [顧客配送先詳細テーブル] -->
      <!-- [ 44行目 customersテーブルと紐づくcustomer_idでどの顧客の情報か指定する？] -->
      <table class="table table-hover customers-table">
        <thead class="thead-dark">
          <tr>
            <th class="col-width-25">顧客配送先名</th>
            <th class="col-width-25"></th>
          </tr>
        </thead>
        <tbody>
        <!-- [ customerDestinationsはCustomerエンティティのcustomerDestinationsフィールドを指定している] -->
          <tr th:each="data : ${customer.customerDestinations}">
            <td th:text="${data.name}"></td>

            <td><a class="btn btn-outline-primary" th:href="@{/data.name/{id}(id=${data.id},page=${page},size=${size})}">詳細へ</a></td>
          </tr>
        </tbody>
      </table>

      <a th:href="@{/customerDestinations(page=${page},size=${size})}" class="btn btn-outline-primary mt-3">登録</a>
    </div>
  </body>
</html>